@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar-track {
  border: 2px solid #fff;
  border-bottom-width: 3px;
}

*::-webkit-scrollbar-thumb {
  border: 2px solid #fff;
  border-bottom-width: 3px;
}

@font-face {
  font-family: 'AGaramondPro-Bold';
  src: url(styles/fonts/AGaramondPro-Bold.otf),
    url(styles/fonts/AGaramondPro-Bold.otf) format('otf');
}

@font-face {
  font-family: 'AGaramondPro-Regular';
  src: url(styles/fonts/AGaramondPro-Regular.otf),
    url(styles/fonts/AGaramondPro-Regular.otf) format('otf');
}

@font-face {
  font-family: 'DIN-Alternate-Bold';
  src: url(styles/fonts/DIN-Alternate-Bold.ttf),
    url(styles/fonts/DIN-Alternate-Bold.ttf) format('ttf');
}

@font-face {
  font-family: 'HhSamuel-E80W';
  src: url(styles/fonts/HhSamuel-E80W.ttf),
    url(styles/fonts/HhSamuel-E80W.ttf) format('ttf');
}

@font-face {
  font-family: 'MyriadPro-Regular';
  src: url(styles/fonts/MyriadPro-Regular.otf),
    url(styles/fonts/MyriadPro-Regular.otf) format('otf');
}

.font-AGaramondPro-bold {
  font-family: 'AGaramondPro-Bold';
}
.font-AGaramondPro-regular {
  font-family: 'AGaramondPro-Regular';
}
.font-Alternate-bold {
  font-family: 'DIN-Alternate-Bold';
}
.font-Samuel {
  font-family: 'HhSamuel-E80W';
}
.font-MyriadPro {
  font-family: 'MyriadPro-Regular';
}

.scrollbar-container.ps--active-x > .ps__rail-x {
  background-color: #d4d4d8;
}
.scrollbar-container .ps__rail-x {
  opacity: 0.6;
  height: 4px;
  bottom: 0px;
}
.scrollbar-container .ps__thumb-x {
  background-color: #52525b;
  height: 10px;
  bottom: -3px;
  border: white solid 3px;
}

.month-picker > .rmp-container {
  font-family: 'MyriadPro-Regular';
}
.month-picker > .rmp-container,
.month-picker > .rmp-container .rmp-popup,
.month-picker > .rmp-container .rmp-pad {
  width: 100% !important;
}
.month-picker > .rmp-container .rmp-popup.show {
  padding: 0;
  margin-top: 8px;
}
.month-picker > .rmp-container .rmp-popup.light .rmp-pad li {
  line-height: 2.7rem;
  border-radius: 12px;
  margin-right: 1.5%;
  margin-left: 1.5%;
  width: 22%;
}
.month-picker > .rmp-container .rmp-popup.light .rmp-pad li.active,
.month-picker > .rmp-container .rmp-popup.light .rmp-pad li.active:hover {
  background-color: #fac424 !important;
  color: #000 !important;
}
.month-picker > .rmp-container .rmp-popup.light {
  color: #000 !important;
}
.month-picker > .rmp-container .rmp-popup.light .rmp-pad > div {
  border-bottom: 1px solid #ccc;
  margin-bottom: 0.4rem;
}
.month-picker > .rmp-container .rmp-popup.light .rmp-pad i.rmp-btn {
  font-family: 'Nanum Myeongjo', serif;
  font-weight: 500;
  font-size: 2rem;
}
.month-picker > .rmp-container .rmp-popup.light .rmp-pad .rmp-btn.next {
  right: 22%;
}
.month-picker > .rmp-container .rmp-popup.light .rmp-pad .rmp-btn.prev {
  left: 22%;
}
